[2013-08-10 21:15] tommeagher opened #1 "Fix capping in generate_sentence()"
Check first to see if the word `.isupper()` or `.istitle()` before making changes.

[2013-08-11 15:54] tommeagher opened #2 "deal with &amp"
What's happening there in stevebuttry_ebx?

[2013-08-12 18:51] tommeagher opened #3 "Add a crazy, all caps prophecy"
Just for short tweets, as horse_ebooks does from time to time.

https://twitter.com/Horse_ebooks/status/366640345049604097

[2013-08-12 19:01] #1 closed, assigned to tommeagher

[2013-08-12 19:01] #2 closed, assigned to nobody

[2013-08-12 19:01] #3 closed, assigned to tommeagher

[2013-08-13 23:38] tommeagher opened #4 ":."

[2013-10-28 18:15] #4 closed, assigned to tommeagher

[2013-10-28 18:15] tommeagher opened #5 "Do we need start and end quotes? Are there many hanging quotes?"

[2013-10-30 17:12] tommeagher opened #6 "Twitter grab fails if user has fewer than 3,600 tweets"
Obviously the more tweets to work from, the better, but this does seem like a relatively simple bug to fix.

[2013-12-06 01:08] tommeagher opened #7 "Drop attribution?"
Chop off any tail ends that say ', via' or ', says' or whatever. But then check to see if the whole tweet comes verbatim from any tweet in the corpus.

[2015-11-30 05:30] sroerick opened #10 "When setting ORDER = 1 bot fails"
The bot works fine when I run with ORDER = 2/3.

But when I run ORDER = 1 I get the following :

Traceback (most recent call last):
  File "ebooks.py", line 94, in <module>
    ebook_tweet = mine.generate_sentence()
  File "/app/markov.py", line 54, in generate_sentence
    restup = (res[-2], res[-1])
IndexError: list index out of range

[2015-11-30 17:06] tommeagher commented on #10
Thanks for filing this issue, Roerick. Much appreciated. It's been a while since I've looked at this code, but I'll dig into it and see what I can do to fix it.

[2015-12-01 02:05] sroerick commented on #10
Thanks Tom!

I'm pawing through this as well. I've never played with bots before and I had a lot of fun setting this up. :D

But don't expect much I don't know what i'm doing. :100:

[2015-12-02 02:53] cyphunk commented on #10
This code controdicts itself if :

[code]

res[] will contain a selection from self.beginnings which may look something like the following when ORDER is 2: ``[['Hope', 'for'], ["That's", 'our'], ['Next', 'stop']]``, or when ORDER is 1: ``['Hope'], ["That's"], ['Last']]``. Setting the code to ignore and accept res of len 1, so that ORDER 1 doesn't cause code to crash... just results in two word len

[2016-03-06 14:13] stellasoft-jim opened #12 "Sorry, that page does not exist - When running ebooks.py"
When I run ebooks.py with DEBUG set to true, and 3 twitter accounts in source - i recieve this error.
It is successfully authenticating but failing to find...somewhere?
I don't know enough python to work it out.

[2016-03-06 22:33] #12 closed

[2016-03-07 16:02] tommeagher commented on #12
Jim, did you figure this out?

[2016-03-07 16:19] stellasoft-jim commented on #12
Hey - it turned out to be related to the "Less than 3600 tweets" issue - when I removed two of the accounts and added one that has 76k it worked - when I added the other two in any combination I would recieve this error.
So ultimately, user error rather than code :)
Thanks for responding.

[2016-03-07 16:21] tommeagher commented on #12
Ahhh, that makes sense. I've been wanting to go back and fix that so it supports smaller accounts. This will help me prioritize that issue.
Glad this is helpful.

[2016-03-07 16:23] stellasoft-jim commented on #12
Yeah - i'm gonna take a look and try and re-write myself so I understand what it does but it definitely seems related to that issue.

[2016-03-30 19:40] gwingle opened #14 ""IndexError: list index out of range" when sending command "heroku run worker""
The error is as follows:
[code]

These are my settings with keys left out:
[code]

[2016-03-30 19:46] tommeagher commented on #14
Hi @gwingle, my guess is that this failure is related to issue #6. For now, try it only with accounts that have more than 3600 tweets in them.

[2016-03-30 20:06] gwingle commented on #14
Definitely seems like that was the issue. Unfortunately, it looks like I won't be able to include my own account.

[2016-03-30 20:36] tommeagher commented on #14
I'm sorry about that. This is a good impetus for me to push #6 higher on my list of priorities. It might not be tomorrow, but I'll try to get that knocked out, if you want to keep an eye on that issue. In the meantime, I'll close this one as duplicative. Thanks for the bug report!

[2016-03-30 20:36] #14 closed

[2016-08-14 09:35] joshuazaneweiss opened #16 "Trouble with buildpack/remote?"
error read as follows, despite closely following directions (and as far as I can tell, adding the buildpack correctly through heroku):

remote: Building source:
remote:
remote: -----> Failed to detect set buildpack https://github.com/bear/python-twitter
remote: More info: https://devcenter.heroku.com/articles/buildpacks#detection-failure
remote:
remote:  !     Push failed
remote: Verifying deploy.

[2016-08-14 22:47] joshuazaneweiss commented on #16
(I double checked the buildpack was present, both through terminal and the heroku site)

[2016-08-22 14:52] tommeagher commented on #16
I haven't seen this problem before. Did you try [this command in the terminal](https://devcenter.heroku.com/articles/buildpacks#setting-a-buildpack-on-an-application)?
```heroku buildpacks:set heroku/python```

[2016-08-29 14:51] rtd62 commented on #5
I figure that quotes are necessary either way. I would just keep them in the code as-is. I code in CSS all day long, so quotes are needed all day long. 😆

[2016-08-29 19:29] rtd62 opened #17 "[ISSUE] Syntax Error"
After pushing the files to the master app on Heroku and running "worker", I get these two errors:

`Running worker on ⬢ secret-taiga-39619... up, run.2390
Traceback (most recent call last):
  File "ebooks.py", line 7, in <module>
    from local_settings import *
  File "/app/local_settings.py", line 12
    SOURCE_ACCOUNTS = [“frontend_bot”]
                       ^
SyntaxError: invalid syntax`

[2016-09-04 02:07] tommeagher commented on #5
Thanks, @rtd62. What I meant was that in the early days, I was noticing some tweets being created that would start a quotation but then would end abruptly. It somewhat depends on how often the source account uses quotes, but since no one's complained about the behavior, and I hardly ever see it, I'm not going to worry about it. Will close this issue. If anyone spots this happening regularly and wa

[2016-09-04 02:07] #5 closed

[2016-09-04 02:18] tommeagher commented on #17
This is very odd. Were you able to resolve this issue?
I have two theories:
* Could it be that you didn't close the quote at the end of line 9, after your Access Token Secret? That might throw this kind of error appearing on the next line. This is mentioned in this [StackOverflow thread](https://stackoverflow.com/questions/24237111/syntax-error-invalid-syntax-for-no-apparent-reason).
* Are you usi

[2016-09-04 18:11] tommeagher commented on #5
Here's an example: https://twitter.com/adriennelaf_ebx/status/772495811372539904

[2016-10-04 00:45] joesondow commented on #6
The attempted fix by @petejscott does not appear to have fixed the bug. I still get the same error. My source twitter account https://twitter.com/RikerGoogling has around 1500 tweets and I still get the same error.

[code]

[2016-10-05 18:38] #6 closed

[2016-10-05 18:38] #10 closed

[2016-10-06 12:05] wrnb commented on #7
Hi Tom! I know it's been a while but I'm wondering if this is something you could revisit?

[2016-10-06 21:32] tommeagher commented on #7
Hi! I can't promise I'll get to this in the near future, but I will accept pull requests if anyone wants to take a stab at this.

[2016-11-27 05:19] taibt opened #18 "heroku run worker not producing anything"
(caveat, I am not super familiar with coding jargon)

I get this error every few times I run the heroku run worker command:

Traceback (most recent call last):
  File "ebooks.py", line 77, in <module>
    handle_stats = api.GetUser(screen_name=user)
  File "/app/.heroku/python/lib/python2.7/site-packages/twitter/api.py", line 2908, in GetUser
    data = self._ParseAndCheckTwitter(resp.content.deco

[2016-12-14 18:24] tommeagher commented on #18
Hi @taibt. Are you sure you're using the correct credentials in your local_settings.py ? Also, you should try setting ODDS to 1 or 2 and see if that helps.

[2017-01-02 04:51] sparky005 commented on #7
Hey @tommeagher I just submitted #20 to try and resolve this issue. Please take a look and let me know what you think. Thanks!

[2017-01-19 02:10] tommeagher commented on #7
Closed by 0ca5fa6, thanks to @sparky005.

[2017-01-19 02:10] #7 closed

[2017-02-15 15:55] Furgersen7 commented on #17
I am having the same issue with syntax as well. When I run my worker I get these errors:

`Traceback (most recent call last):
  File "ebooks.py", line 7, in <module>
    from local_settings import *
  File "/app/local_settings.py", line 11
SyntaxError: Non-ASCII character '\xe2' in file /app/local_settings.py on line 11, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for detail

[2017-02-15 17:52] tommeagher commented on #17
Hi @Furgersen7, if [this StackOverflow thread](https://stackoverflow.com/questions/21639275/python-syntaxerror-non-ascii-character-xe2-in-file) is accurate, it seems you might have introduced a stray byte in your local_settings.py somehow. Here's [a promising solution](https://stackoverflow.com/questions/21639275/python-syntaxerror-non-ascii-character-xe2-in-file#comment32703265_21639459). Do you

[2017-02-20 18:46] joelcava96 opened #22 "Error"
sorry, i have no idea of what i have to do with this
Running worker on ⬢ lit-bayou-19362... up, run.6460 (Free)
Traceback (most recent call last):
  File "ebooks.py", line 7, in <module>
    from local_settings import *
  File "/app/local_settings.py", line 11
SyntaxError: Non-ASCII character '\xe2' in file /app/local_settings.py on line 11, but no encoding declared; see http://python.org/dev/peps

[2017-02-25 02:59] tommeagher commented on #22
Hi @joelcava96. I think this is the same problem as #17. It seems some stray invisible characters snuck in your settings file somehow. Can you try [the solutions here](https://github.com/tommeagher/heroku_ebooks/issues/17#issuecomment-280085699) and see if those work?
I'm going to close this issue as a duplicate, but if it doesn't work, feel free to report back in issue #17.

[2017-02-25 02:59] #22 closed

[2017-04-01 15:12] mackmo commented on #17
I am also having this issue, and have tried all the solutions posed on StackOverflow. Any suggestions?

[2017-04-01 15:23] tommeagher commented on #17
@mackmo, so you're certain you're not using smartquotes inadvertently? What kind of text editor are you using?

[2017-04-01 15:32] mackmo commented on #17
I'm using Mac's TextEdit program. All smart options are off,  and I've run it through [this diacritics remover](http://utils.paranoiaworks.org/diacriticsremover/) with no issues, but it still won't run.

[2017-04-01 15:42] tommeagher commented on #17
What error message you getting, @mackmo?

[2017-04-01 15:50] mackmo commented on #17
Here's the message:
`Traceback (most recent call last):
  File "ebooks.py", line 7, in <module>
    from local_settings import *
  File "/app/local_settings.py", line 7
SyntaxError: Non-ASCII character '\xe2' in file /app/local_settings.py on line 7, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details
`

[2017-04-01 22:37] tommeagher commented on #17
@mackmo I don't know much about TextEdit. You should try something like TextWrangler. With that, you can turn on View>Text Display>Show Invisibles to see that extra character that snuck in there.

[2017-04-02 00:03] mackmo commented on #17
Thanks! Problem solved, I'll stick to TextWrangler from now on.

[2017-04-02 00:52] tommeagher commented on #17
@mackmo 👍🏼

[2017-04-02 00:52] #17 closed

[2017-05-25 02:32] XenonFiber opened #25 "Error fetching tweets from Twitter. Aborting."
I definitely have tweets on my source account and I double checked my API keys. Any clue what's going wrong?

![error](https://cloud.githubusercontent.com/assets/28912578/26433139/7601d48c-40c6-11e7-91a1-66389ae1bd55.png)

[2017-06-02 20:18] tommeagher commented on #25
@XenonFiber sorry for the delayed reply. I'm not certain what is going on here. Is this the source account you're trying to use? https://twitter.com/xenonfiber

[2017-06-02 21:00] XenonFiber commented on #25
Yup.

[2017-06-19 03:37] NovaPhoenix opened #26 "Too Similar"
Hi, when I try to run this I get this after running `heroku worker start`:
 `Running worker on ⬢ nameofapp... up, run.2970 (Free)
1282 tweets found in NovaPhoenix500
TOO SIMILAR: Will the Switch be a commercial failure?`
Edit: After regenerating keys, the issue is mostly fixed. It has happened about once.

[2017-06-19 03:44] #26 closed

[2017-07-09 06:51] Schwarzenegg opened #27 "Syntax Error "ebooks.py", line 69"
Hey there, I'm running into the issue below. I'm not familiar with the language so don't understand how to fix your syntax. Can you please advise?

@tommeagher

$ heroku run worker
Running worker on ⬢ guarded-brushlands-52122... up, run.7914 (Free)
  File "ebooks.py", line 69
    print ">>> Generating from {0}".format(file)
                                  ^
SyntaxError: invalid syntax
![screen s

[2017-07-09 12:46] tommeagher commented on #27
@Schwarzenegg, thanks for flagging this. I believe the problem is that Heroku now uses Python3 by default, but this library was written in Python 2.7. I just pushed a fix to the Github repo, if you want to use that, or simply add this [runtime.txt file](https://github.com/tommeagher/heroku_ebooks/blob/master/runtime.txt) to your project directory and push the change to Heroku. It should fix the is

[2017-07-09 12:46] #27 closed

[2017-07-20 03:12] XenonFiber commented on #25
I just tested the command again, and for some reason, it worked. Probably was just something wrong on Twitter's end, but reopen this if you need to.

[2017-07-20 15:24] tommeagher commented on #25
@XenonFiber thanks for following up on this, 'cause I was stumped. If it acts up again, I can investigate.

[2017-07-30 02:17] pit27 opened #30 "Every Tweet is too similar"
Whenever I type "heroku run worker" everything works fine yet it always says "TOO SIMILAR: <tweet>". It happens 100% of the time. I have created other bots using this exact code and it works fine. I have no idea what is different. The account being posted to is completely empty

UPDATE: it fixed itself. no idea what happened

[2017-08-17 22:34] marcodionisio opened #31 "u'Could not authenticate you.', u'code': 32"
Hi! I'm not familiar with Python so I'm having a hard time trying to fix this error.

Running worker on pure-badlands-73935... up, run.3341 (Free)
Traceback (most recent call last):
  File "ebooks.py", line 78, in <module>
    handle_stats = api.GetUser(screen_name=user)
  File "/app/.heroku/python/lib/python2.7/site-packages/twitter/api.py", line 2928, in GetUser
    data = self._ParseAndCheckTwi

[2017-08-22 20:53] tommeagher commented on #31
Hi @marcodionisio. Did you follow steps 1-6 in the [README](https://github.com/tommeagher/heroku_ebooks#setup)?  It looks like you didn't put your API credentials in a local_settings.py file.

[2017-08-27 03:02] FlamingOranges opened #32 "Won't recognize older tweets"

[2017-09-08 21:34] tommeagher commented on #32
Hi @FlamingOranges, I'm not sure what you mean by this. Can you give me some specifics? What do you mean by "won't recognize"?

[2017-09-24 03:27] 00dani opened #35 "Stripping newlines from the source tweets results in words being joined together"
So you get messy tweets like [this one](https://twitter.com/00d4n1_ebooks/status/910399752336011264). I think instead of stripping newlines, all consecutive "runs" of whitespace (newlines, tabs, and spaces) should be collapsed to single spaces. Then the original meaning of the tweets is preserved and passed into the Markov generator, but spurious whitespace is avoided.

This can be achieved with s

[2017-09-26 17:32] tommeagher commented on #30
@pit27 glad this worked out. Thanks!

[2017-09-26 17:32] #30 closed

[2017-09-26 17:32] #16 closed

[2017-09-26 17:32] #18 closed

[2017-09-26 17:32] #31 closed

[2017-09-26 17:32] #32 closed

[2017-09-26 17:34] tommeagher opened #36 "Add contributors list to README."

[2017-09-26 17:36] tommeagher commented on #35
@00dani This seems like a good idea to me. Would \s+ catch \t and \n too?

[2017-09-27 21:56] 00dani commented on #35
Yep, `\s` in regular expressions matches all whitespace characters. 👌

[2017-09-28 01:11] tommeagher commented on #35
Cool, do you want to take a crack at a PR for this?

[2017-09-28 14:11] darrinhenein commented on #32
Seeing something similar—only finding 963 of my 13K+ tweets.

[2017-10-02 21:30] tommeagher opened #37 "Note this is now Python3 compatible in README"

[2017-11-03 02:47] Jessssuhh opened #38 "API undefined"
Hi! I'm quite new to this, so I apologise if this is a very obvious and fixable thing to people with python experience, but: I keep getting an error that api is not defined. I can see in ebooks.py that it is defined. As I understand it, it should handle so long as I have pip and python-twitter installed (which I do). Am I missing something?

**Full error**
Traceback (most recent call last):
  File

[2017-11-03 05:49] Jessssuhh commented on #38
I tried recopying in local settings and ebooks to see if I had one of these "hidden symbols" you mentioned in a few places. Also the script does work in debug.

[2017-11-04 10:55] tommeagher commented on #38
@Jessssuhh You're running this with STATIC_TEST set to True in your local_settings.py?

Are you running this on your local machine or on Heroku?

I haven't had a chance to test this yet, but I think I know what's happening. There should be an ```api = connect()``` added under the STATIC_TEST if statement around line 78.

I'll try to test and push a fix in the next few days. Thanks for flagging thi

[2017-11-04 11:26] Jessssuhh commented on #38
Now we're cooking with gas! Yes, I added that to the top line of the if statement from line 75. It now throws the below error, but still tweets, so that doesn't bother me so much. Most likely due to my entire corpus being in unicode (you can have a look at why - @phaseA_Ingelic on twitter). Although calling it corpora is a bit of a laugh since its only a few hundred words long.

Traceback (most re

[2017-11-04 11:27] Jessssuhh commented on #38
Oh and for your first question - yes, Heroku

[2017-11-10 19:17] tommeagher commented on #38
Closed by #41 which will be merged into master soon.

[2017-11-10 19:17] #38 closed

[2017-11-11 15:08] #36 closed

[2017-11-11 15:08] #37 closed

[2017-11-11 22:17] #35 closed

[2017-12-08 17:45] andrlik opened #42 "Support Mastodon as a source and an output choice"
With popularity of Mastodon rising, add support to pull source statuses from Mastodon and the option to send the resulting Markov sentence to Mastodon in addition to, or in lieu of, Twitter.

[2018-02-08 17:41] gastypm opened #44 "IndexError: list index out of range"
I'm getting this message whenever I try to run the code. Sometimes I get "2 No, sorry, not this time." and sometimes "IndexError: list index out of range". I've read that this is cause by a less-than-3600-tweets account but the one I'm trying to source (@Tscchnnell) has more than 7k tweets.

Here's the traceback:
Traceback (most recent call last):
  File "ebooks.py", line 135, in <module>
    twit

[2018-02-10 20:50] #44 closed

[2018-02-10 20:52] tommeagher commented on #44
Hey @gastypm, thanks for flagging this. Your source account was acting in an unusual manner, so I added a check to make sure the requests to twitter were actually getting any tweets. Give it a try with the new version, and please let me know if you have any other bugs.

[2018-02-10 23:24] gastypm commented on #44
Thanks for the answer @tommeagher! Unfortunately I keep getting the same error message. I'll try with another account.

[2018-02-10 23:38] gastypm commented on #44
I've also tried with another account (@manucaso) but I get the same error.

[2018-02-11 00:54] tommeagher commented on #44
@gastypm, did you pull down the changes I made? I'm not getting any errors when I try to pull from that either of those Twitter accounts.

[2018-02-11 15:35] gastypm commented on #44
Yes I did, but now I started again from the ground and it's working. Thank you!

[2018-02-12 16:41] #42 closed

[2018-03-05 15:17] kmuncie opened #46 "Add filtering to static sources"
Because of the Twitter API limits and my source accounts being over 40,000 tweets I have ended up combining the archives of my source accounts into one large CSV. I wish that static sources were treated as a first class source instead only treating it as a testing source.

**The main issue** I have encountered is that [`filter_status`](https://github.com/tommeagher/heroku_ebooks/blob/master/ebooks

[2018-03-05 23:56] ge0metrics opened #47 "No statuses found!"
I've tried multiple twitter accounts both with more than 3,600 tweets and less than that. Nothing works, it always produces "No statuses found!" message. I've run "heroku run worker" many times, and every single time it fails with this message.

http://prntscr.com/ind2nv

[2018-03-06 00:25] ge0metrics commented on #47
after squinting at the code for half an hour I realised I wasn't putting the twitter usernames in the right place. [facepalm]

[2018-03-06 00:25] #47 closed

[2018-03-06 02:19] tommeagher commented on #47
I've done the same thing many a time. Glad it worked out.

[2018-03-06 23:51] tommeagher commented on #46
This is a great idea and a use case that I had not considered. I'd definitely be open to a PR if you want to give it a shot.

[2018-04-21 14:12] rafitamolin opened #48 "Allow using a tweets archive file"
In the original [twitter_ebooks](https://github.com/mispy/twitter_ebooks) bot, there's an option to download and then incrementally update a local json archive of a user's tweets, and also to convert the .csv file of your Twitter Archive files to .json so it can properly work.

It would be nice to allow someone to manually [download their twitter archive](https://help.twitter.com/en/managing-your-

[2018-04-23 21:34] tommeagher commented on #48
@rafitamolin This is a very interesting idea. I'd be open to a pull request if someone wants to try to tackle this feature.

[2018-04-29 14:09] harveywells opened #49 "IndexError: list index out of range"
Hello! When trying to use Twitter source accounts with at least 3600K Tweets in local_settings.py I receive the following error:

1713 tweets found in JoseCanseco
Traceback (most recent call last):
  File "ebooks.py", line 199, in <module>
    ebook_status = mine.generate_sentence()
  File "/app/markov.py", line 55, in generate_sentence
    restup = (res[-2], res[-1])
IndexError: list index out of

[2018-05-01 19:09] tommeagher commented on #49
You have two separate issues happening here. The number of tweets found is correct. This script only grabs that last 3,600, which are all that are available under the Twitter API. It then discards any Retweets or quote tweets. So that would leave about 1,713 for the script to work with. That seems fine.

The IndexError is a little more concerning, but I'm not able to reproduce it. I'm pulling from

[2018-05-03 18:30] harveywells commented on #49
Thanks for the response @tommeagher! I tried different Twitter accounts and it worked as expected. I plugged my original sources back in and it generated tweets as expected 🤷‍♀️

[2018-05-03 18:36] tommeagher commented on #49
OK, @harveywells. Thanks for following up. I'll close this for now. If it comes up again, just holler and we can try to investigate.

[2018-05-03 18:36] #49 closed

[2018-05-09 18:32] notsaved opened #50 "Avoiding three dots post-280 character limit"
Just created a bot with this and I realized that it oftens add three dots (...) when retrieving tweets longer than 140 characters - this seems connected to the API changes Twitter made after extending tweet length to 280 characters - the API still outputs a truncated 140-character version unless it is not explicitly requested the full tweet. I'm having troubles implementing this into heroku_ebooks

[2018-05-10 22:44] sogen opened #51 "invalid syntax"
hi, getting error on latest version:

`heroku run worker`
[code]

[2018-05-11 13:48] #51 closed

[2018-05-26 11:53] TimLChan commented on #48
I've done a [rudamentary](https://github.com/TimLChan/heroku_ebooks/blob/master/twittereater.py) parser which allows you to extract the tweets from the twitter archive and place them in a CSV, but I've done a few commits since then.

If I find some time, I'll create a branch and pick out the commit and raise a PR

[2018-06-09 03:27] alikoneko opened #52 "IndexError: list index out of range"
Hi. I was able to get the bot working once and then after fixing something custom for the theme of my ebooks account, I have either been getting the "x, No, sorry, not this time." error or this Index error, I do see the bot grabbing tweets though. Is this related to the low-tweet count?

[code]

[code]

[2018-06-09 08:43] alikoneko commented on #52
I'm closing this as I have found and fixed the issue. The order variable can't be 1 and I didn't realize it.

[2018-06-09 08:43] #52 closed

[2018-08-19 22:00] #48 closed

[2018-09-02 09:31] gamerswift13 opened #54 "ModuleNotFoundError: No module named 'local_settings'"
I have set up this bot successfully once, in February this year using Twitter but I am now running into problems using it for Mastodon, but I don't think the problem is with either service.

I have followed all the steps described multiple times but I keep getting the following error when trying the first `heroku run worker` command:

[code]

I've definitely got the correct file name etc and I've

[2018-09-02 16:45] tommeagher commented on #54
@gamerswift13, is your file in your repo named "local_settings (copy).txt"? If so, that's probably the problem. It's looking specifically for a file named "local_settings.py" If you rename it and commit it and push it back to heroku, it should fix that issue. Let me know if that helps.

[2018-09-02 23:59] gamerswift13 commented on #54
No, I had to copy the file because github wouldn’t let me upload a .py file and I just forgot to remove the (copy) part from the filename. someone I spoke to on Mastodon pointed out that local_settings.py is named in gitignore but I haven’t had a chance to verify that myself yet.

[2018-09-03 04:28] TimLChan commented on #54
@gamerswift13 In the heroku app, can you do the following:

1. Click on the "more" drop down
2. Click on "Run Console"
3. Type in bash
4. When it loads, type "ls" without quotes

Do you see local_settings.py?

[2018-09-04 06:08] gamerswift13 commented on #54
Oops! No it wasn't there! But after removing the filename from .gitignore and then adding local_settings.py manually and pushing it, it works fine. Sorry for bothering you with something so basic but thank you so much for your help! I definitely don't think I would have got there on my own.

[2018-09-04 06:08] #54 closed

[2018-09-05 06:35] TimLChan commented on #46
I think you can just change
`source_statuses += item.split(",")`
to
`source_statuses += filter_status(item.split(","))`

Or alternatively, just run `filter_status` after `ebook_status` [is generated](https://github.com/tommeagher/heroku_ebooks/blob/3dfd3c1715e6c31d9f7fc4933451c7cb11c881fc/ebooks.py#L203)

https://github.com/tommeagher/heroku_ebooks/blob/master/ebooks.py#L150-L151

[2018-10-19 00:02] perryimo opened #56 "no statuses found!"
<img width="535" alt="screen shot 2018-10-18 at 8 01 48 pm" src="https://user-images.githubusercontent.com/44279222/47190673-aff7f300-d310-11e8-9736-5bb7f7463ab6.png">

getting this error whenever I run the heroku run worker command. source account has near 10k tweets. I followed the code correctly, all that. what can I do to fix this?

thank you!

[2018-10-19 03:06] perryimo commented on #56
<img width="745" alt="screen shot 2018-10-18 at 11 05 50 pm" src="https://user-images.githubusercontent.com/44279222/47195541-60bebc00-d32a-11e8-8ebb-65c4cbc35b2f.png">

here is what my code is looking like for reference (cropped out keys)

[2018-10-19 14:37] tommeagher commented on #56
hi @perryimo. It looks like our local_settings.py has an extra line that we'll remove. You should put "perryimo" in the TWITTER_SOURCE_ACCOUNTS instead of SOURCE_ACCOUNTS and give it a try. That should resolve it.

[2018-10-19 21:48] perryimo commented on #56
<img width="563" alt="screen shot 2018-10-19 at 5 45 45 pm" src="https://user-images.githubusercontent.com/44279222/47245329-d8dabf80-d3c6-11e8-99fd-da482d9e1ab7.png">

followed your instructions, now I am getting this error. It references the ebooks file, which I have (and have not touched), but I cannot find the others that it references. Maybe I am misinterpreting the error message...?

[2018-10-19 21:59] tommeagher commented on #56
It’s a little hard to tell but it appears that your API keys aren’t being recognized. Did you generate the appropriate keys as in step 3 in the README? Did you add them to Heroku as environment variables like in step 13?

[2018-10-19 22:09] perryimo commented on #56
<img width="736" alt="screen shot 2018-10-19 at 6 03 54 pm" src="https://user-images.githubusercontent.com/44279222/47245982-89e25980-d3c9-11e8-83d3-ca22678bac82.png">

I made sure that the keys are entered in on the correct line on the local_settings.py part, but did I enter them correctly (i.e. do I need to delete the parenthesis or quotation marks or...?)

Not sure if sharing the keys here is f

[2018-10-19 22:31] tommeagher commented on #56
Ahhhh. You shouldn’t edit that part of local_settings.py. You don’t want to put your actual keys in there because you don’t want to keep them in version control.
Revert those lines back how they are in the repo:
https://github.com/tommeagher/heroku_ebooks/blob/master/local_settings.py#L10-L13

This way, it’ll just look in your Heroku config for environment variables that match these variable names

[2018-10-20 03:30] perryimo commented on #56
that did the trick! thanks again for all your help, I really appreciate it.

[2018-10-20 03:30] #56 closed

[2018-12-13 18:58] techdecker opened #57 "api authentification"
i'm running into this problem while doing "heroku run worker" in terminal I am not sure what to do about this.

<img width="714" alt="screen shot 2018-12-12 at 1 33 30 pm" src="https://user-images.githubusercontent.com/45857997/49960854-1e0b0180-fedf-11e8-839e-a451c476d448.png">

[2018-12-18 05:37] IoIxDButStronger opened #58 "Is it supposed to tweet out the result? When I run it, it just prints the tweet and then exits the program."

[2018-12-23 13:34] tommeagher commented on #57
Hey @techdecker, are you still getting this error? For some reason, Twitter isn't recognizing you as a user with the permissions to access to its API. Two culprits would be that you don't have the permissions yet or they aren't being read in from Heroku.

Did you add the POST permissions for your Twitter account at https://dev.twitter.com/apps ?
Did you set your API keys as environment variables i

[2019-01-14 02:10] MRLmic commented on #57
I'm having this issue too. @techdecker did this get resolved?

[2019-01-15 02:34] tommeagher commented on #57
Hi @MRLmic, no, @techdecker didn't reply. Did you add the permissions in Twitter and set your environment variables as in step 13?

[2019-01-15 02:44] MRLmic commented on #57
Hi @tommeagher I just did but my error message didn't change.

[2019-01-31 21:39] KiNTan15 commented on #57
i get the same error
i add the permissions tokens and i have acces to twitter api

[2019-01-31 21:39] KiNTan15 commented on #57
@tommeagher

[2019-02-02 05:17] nozomiOwo commented on #57
I've been having the same issues, I've done everything correctly, double check plenty of times and this error is still happening, my permissions are set to post, all my Access tokens and consumer API's are entered in both local_settings.py and through the command prompt commands, would love for this to work but this is the only problem I've been getting.
Any sort of fix would be appreciated.

[2019-02-02 13:48] tommeagher commented on #57
I have a pretty good hunch I know what the problem is. Think it has to do with the version of python-twitter in the requirements file. I’ll try to test a fix and cut a release in the next few days.
Can one of you tell me what version of it is being installed when you push to Heroku?

[2019-02-02 16:42] tommeagher commented on #57
OK, so my hunch was wrong. In fact, I'm creating a fresh install of the app from Github and not able to replicate this problem. Which makes me think something in the README is unclear that's causing common confusion about the setup. It makes me think the API keys aren't making their way into Heroku correctly.

@nozomiOwo when you say "all my Access tokens and consumer API's are entered in both loc

[2019-02-03 00:48] nozomiOwo commented on #57
![notepad _ovyyx8vxm2](https://user-images.githubusercontent.com/47266201/52171031-2aa31d80-270a-11e9-9c30-f06ab100230b.png)
![image](https://user-images.githubusercontent.com/47266201/52171036-54f4db00-270a-11e9-8092-ed7e5a3e5c5c.png)

heres both the command prompt "heroku config" command and the locl_settings.py if you want an idea of what I mean

[2019-02-03 14:11] tommeagher commented on #57
Ahhh, @nozomiOwo, you shouldn’t change those fields in local_settings.py that you’ve blurred out. Those should remain the names of the Heroku config variables. Try changing those back and see if it works. I can update the docs to be more clear about that.

[2019-03-10 00:21] MRLmic commented on #57
Reverting my local_settings.py keys worked!

[2019-03-10 16:04] tommeagher commented on #57
@mrlmic, awesome. I’m glad to hear it. Do you think I can close this issue? Or do you have advice on how to improve the README or local_settings.py to make this easier?

[2019-03-27 23:24] Casuallynoted commented on #25
Having a similar issue with mine, to my knowledge it's been configured entirely correctly.
![Screen Shot 2019-03-27 at 7 24 27 PM](https://user-images.githubusercontent.com/6272557/55118796-f32b6e80-50c5-11e9-9c50-0544e266e4e1.png)

[2019-03-28 09:22] tommeagher commented on #58
Didn’t respond so I’m going to assume this was fixed. Can reopen if the issue re-emerges.

[2019-03-28 09:22] #58 closed

[2019-03-28 09:24] tommeagher commented on #25
@casuallynoted, can you give it, say, 12 hours and try again? I’m guessing this may have been an issue with the Twitter API at the time you tried this.

[2019-03-28 17:50] Casuallynoted commented on #25
Absolutely! Just tried it again but sadly getting the same issue.

[2019-04-04 14:48] Casuallynoted commented on #25
Any chance this issue might be fixed? Tried running again but it gives me the same issue again :0

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-16 01:08] tommeagher commented on #25
I'm at a loss. I'll have to look into this, but I'm not sure when I'll have an answer to this.

[2019-04-22 06:30] lukethighwalker opened #59 "Twittereater is literally eating the CSV"
I have python 3.7, the latest version of git and everything. Working on windows 10. I try running the twittereater in git bash, and I get this:

[code]
Furthermore, I have looked on other forums for resolutions, and entering `encoding="utf8"` on line 11 of twittereater.py, but this has resulted in nothing but creating a corrupt looking python file which resembles local_settings with error artifact

[2019-04-23 15:24] tommeagher commented on #59
That piece was contributed by @TimLChan, and I haven't used it that much personally. Perhaps he can suggest what might be going awry here.

[2019-04-23 21:39] TimLChan commented on #59
Do you mind changing the line to the below and seeing if it works?
`f = open(TWITTER_ARCHIVE_NAME, 'r', encoding='utf8', errors='ignore')`

Furthermore, just checking your twitter archive is named tweets.csv?

[2019-04-23 23:20] lukethighwalker commented on #59
@TimLChan Thank you for replying and asking. To verify, yes, I do have the archive named tweets.csv

The change suggested above did allow the process run to a certain extent- I now have a file in my Heroku_ebooks-master folder named ".txt", which has imported around 11 tweets in to a row of comma separated values, (it also seems to be pulling in retweets and hyperlinks, but I can get around those

[2019-04-23 23:36] TimLChan commented on #59
Looks like Windows is setting encoding as cp-1252

Try changing the writing line to the below
`tweetarchive = open(TEST_SOURCE, 'w', encoding='utf8')`

Hyperlinks _should_ be imported as well, since the main app filters them out (pending #46)

[2019-04-23 23:52] lukethighwalker commented on #59
[yay.txt](https://github.com/tommeagher/heroku_ebooks/files/3109993/yay.txt)
That seemed to do the trick! I have my text file now. Is there a way in Local_settings.py where I can make the app search my existing timeline and my archive file? or is it simply one or the other?

Thank you for all your help

[2019-04-27 06:53] TimLChan commented on #59
Probably a question for @tommeagher
I initially had an idea to auto update the corpus using Twitter's API, but after their API changes happened, I haven't looked in detail

[2019-04-28 14:42] tommeagher commented on #59
@lukethighwalker this is a good idea that I haven't had a need for yet, but shouldn't be that difficult to implement. I'll open an issue for it in case someone would like to give it a try and send a pull request.

Thanks to @timlchan for troubleshooting this issue!

[2019-04-28 14:43] tommeagher opened #61 "Allow app to use both archive and recent timeline"
From @lukethighwalker in #59:

[2019-04-28 14:46] #59 closed

[2019-06-19 18:53] elplatt opened #63 "Drops input before newlines"
It looks like the script sometimes generates multiline output but only outputs the final line. Is this expected behavior or a bug?
<img width="326" alt="Screen Shot 2019-06-19 at 2 52 50 PM" src="https://user-images.githubusercontent.com/308312/59792352-f63b9280-92a1-11e9-83df-1b2aca0594ef.png">
<img width="411" alt="Screen Shot 2019-06-19 at 2 53 34 PM" src="https://user-images.githubusercontent.

[2019-11-15 15:37] victoriagomezv opened #65 "twitter api must be authenticated"
keep running into this issue when running heroku worker

![image](https://user-images.githubusercontent.com/57805291/68955207-80295200-0793-11ea-8adb-18f3421dfeee.png)

when i run "heroku config" my API keys show up fine

i did change the local settings file because a tutorial i followed prompted me to replace the Haroku variables with the keys themselves (Tom himself said not to do so) but still

[2019-11-16 14:46] tommeagher commented on #65
I’m not sure about that callback URL. We’re authenticating with the API so it shouldn’t be an issue and the instructions on that screenshot say to leave those blank.

Would you mind sending me a screenshot of your heroku config output and your local_settings.py so I can troubleshoot locally on my end? Here’s [how to email me](http://www.tommeagher.com/about).

[2019-12-19 03:06] Casuallynoted opened #66 "Any chance for an upgrade to GPT2?"
Would love to see a version of this bot running with GPT2. I’m not super familiar with what’s involved in doing that though so I figured I’d put in an issue and it can be closed if it’s not within the scope of the project.

[2019-12-20 02:17] tommeagher commented on #66
I'm not either, but if somebody wants to take a crack and create a fork or submit a pull request, I'd be happy to take a look. Thanks for the suggestion, @Casuallynoted!

[2019-12-26 21:13] wideloadbot opened #67 "Syntax Error?"
![Screen Shot 2019-12-26 at 4 08 41 PM](https://user-images.githubusercontent.com/59265343/71490692-2ab47c00-27fa-11ea-92ea-74a7e0af0d82.png)
For some reason, it's saying that I have an invalid character in the identifier even though I haven't edited anything in ebooks.py and there are no invalid characters?

[2019-12-27 14:12] tommeagher commented on #67
It looks like the "invalid characters" are the smart quotes you're using instead of straight quotes. Try switching “ with " around each of the source account names and it should work.

[2020-01-01 03:09] samiaab1990 commented on #65
Hi there! I'm having the same exact issue. Here's what comes out of my command prompt on PC
<img width="547" alt="2019-12-31 22_04_33-Select Command Prompt" src="https://user-images.githubusercontent.com/39127633/71637759-22a17580-2c1a-11ea-9eff-d2e5e697a33e.png">

[2020-01-01 03:10] samiaab1990 commented on #65
Hi there! I'm having the same exact issue. Here's what comes up on my command prompt:
<img width="547" alt="2019-12-31 22_04_33-Select Command Prompt" src="https://user-images.githubusercontent.com/39127633/71637768-5aa8b880-2c1a-11ea-8555-6aaaae7995c4.png">

[2020-01-03 22:19] tommeagher commented on #65
@samiaab1990, can you share your heroku config output and local_settings.py so I try it on my end? Here’s [how to email me](http://www.tommeagher.com/about).

[2020-01-03 22:21] tommeagher commented on #65
Also, this looks likely to be a duplicate of https://github.com/tommeagher/heroku_ebooks/issues/57 Can you read that thread to see if it helps solve this? @samiaab1990 @victoriagomezv

[2020-01-04 22:20] samiaab1990 commented on #65
Hi, thanks for your response! The error message is the same but I didn't change my environ.get variables to the variables that were in the older version of local_settings. I will e-mail you my output.

[2020-01-04 23:58] samiaab1990 commented on #65
Actually, this solved my issue! Thank you so much, I was in fact changing the insid

Actually, yes, this solved my issue! I was looking at an older tutorial where the local_settings.py contained the variables, so I was confused. Thank you so much.

I was additionally wondering if there is a way the bot can grab source tweets from private account, given that the private account is my main twitter a

[2020-01-14 23:11] tommeagher commented on #65
I haven’t looked at the API in quite a while, but I think if your bot follows your private account, this should work fine, @samiaab1990.

@victoriagomezv  I’m going to close this issue as a duplicate but if that other solution doesn’t fix your issue, we can reopen this discussion.

[2020-01-14 23:11] #65 closed

[2020-01-29 05:52] haleykim227 commented on #57
Could you please update the readme with this information? I was trying to resolve the problem for a couple hours until I found this thread. Thank you!

[2020-01-30 12:09] tommeagher commented on #57
hi @haleykim227. What part of the readme do you think we should update? I thought it was clear, but obviously it has been confusing for people and I'd like to make it easier.

The README doesn't say anything about changing the twitter key values, does it? Do you have advice on what could make it easier?

Also, did you come to this from a very old blog post? I know some people find that post which

[2020-03-03 03:51] phoxxy420 opened #69 "Cannot Build- No language found/App not compatible with buildpack"
This happens whenever I attempt to run git push heroku master.  I saw a closed issue about it (https://github.com/tommeagher/heroku_ebooks/issues/16) , tried the solution offered ran command to switch buildpack to python. I also set the buildpack to python in heroku settings. Now it tells me the app is not compatible with buildpack. I then get push failed and [remote rejected] master -> master (pr

[2020-03-03 18:14] actualguy opened #70 "Configuration for Markov Chain"
A lot of my generated tweets are coming out quite short. Are there any variables within the Markov.py that can be tweaked to produce different outcomes or is it pretty set in stone?

[2020-03-11 15:35] tommeagher commented on #70
You can try tinkering with the ORDER variable in the settings: https://github.com/tommeagher/heroku_ebooks#configuring Do your source tweets tend to be short as well?

[2020-03-11 15:38] tommeagher commented on #69
I'm stumped on this one. I have not dealt with this. Are any of these suggestions on stack overflow helpful? https://stackoverflow.com/questions/46109465/app-not-compatible-with-buildpack-heroku
Did you fork the repo and clone it to your local machine?

[2020-03-12 15:28] actualguy commented on #70
One of my source accounts does tweet somewhat short tweets, so I think I will take that out of the rotation. Switching between 2-4 didn't seem to have too much effect, but I will keep experimenting.

Thanks!

[2020-03-12 20:09] tommeagher commented on #70
Cool. I'm guessing it's a matter of using short tweets as the source. Longer tweets, closer to the 280 limit, should return longer strings. Will close this for now, but feel free to reopen it if you want to discuss further as you experiment.

[2020-03-12 20:09] #70 closed

[2020-04-21 08:37] monpragodev opened #71 "Adapting the code for tweets in other languages."
Hello! I created a bot following the steps and it's working flawlessly, but the 99,9% of the time it tweets nonsense. I think it's because the tweets I'm using are in spanish, and the code is intended for text in english and its grammar. I want to adapt my bot to my needs. I know about programming, but not enough to know what files I need to retouch in this case. What should I change in my side of

[2020-04-25 11:18] tommeagher commented on #71
Mónica, I'm glad you're interested in this. The tweets are supposed to be nonsense, but I think I know what you mean. :) I hadn't thought about how Markov chains would work in other languages. Most of what you'll want to tinker with is in here: https://github.com/tommeagher/heroku_ebooks/blob/master/markov.py
If I remember correctly, it basically makes a list of every word in the corpus and then e

[2020-04-25 12:19] monpragodev commented on #71
Thank you for the response! I know the bot is mostly nonsense, but I thought it could be have a little more sense tuning the code specifically for a language, because each language have its own rules in terms of grammar. Every now and then it tweets something grammarly correct, but it's very rare. Maybe it can be improved a bit knowing how the code works. I'll investigate further and let you know

[2020-04-25 12:44] tommeagher commented on #71
That'd be great. Would love to see what you come up with. Good luck!

[2020-07-21 19:18] MisterPoPcorn commented on #57
I'm having this problem, and i can't find a solution. I was getting this problem, so after that i checked my heroku config, and no keys showed up, then i tried to add manually on the heroku website, again didn't work. In this print, on the highlighted part it was with the keys, but then i saw your comment saying you shouldn't mess it up, then i returned to the original text, but still doesn't work

[2020-07-26 17:34] tommeagher commented on #57
@MisterPoPcorn, did you follow step 13 of the setup here? https://github.com/tommeagher/heroku_ebooks/#setup

[2020-07-27 15:04] MisterPoPcorn commented on #57
i missed the don't include quotes part, thank you very much

[2020-07-27 15:23] tommeagher commented on #57
@MisterPoPcorn did that fix it?

[2022-02-21 12:40] shinylotad opened #72 "Twitter API v2 endpoints?"
Any chance this can be updated to work with v2 endpoints? As of right now, the endpoints in this code don't work unless the user's app is approved for "Elevated" developer access.

[code]

[2022-02-21 14:17] shinylotad commented on #72
Actually, if you don't mind. I believe I almost have this working. I'd like to be assigned this if you think it's something worth adding.

[2022-02-23 12:06] tommeagher commented on #72
Hi @shinylotad, this isn't an error I've seen, but i also honestly haven't looked at this code in quite a long time. If you want to take a crack at pull request dealing with this issue, I'd be happy to take a look at it.

[2022-03-10 06:34] desnadario commented on #57
Ok, I'm having this issue as well, I triple-checked my auth keys, my apps permissions, and my global variables. I'm not sure what the issue is at this point after scouring the internet for hours

[2022-03-14 15:48] #57 closed

[2022-04-27 16:10] FTWDex opened #73 "Api.py Running into Authentication Error to GetUser from Twitter"
I'm fairly new to python and Twitter API development, so this is likely something simple I am missing. I double and triple checked the documentation so I believe I have all of the keys and tokens setup correctly in both local_settings.py and in Heroku.

On heroku run worker I see the following log:

 File "ebooks.py", line 161, in <module>
    handle_stats = api.GetUser(screen_name=user)
  File "/

[2022-05-02 23:48] tommeagher commented on #73
Hey, @FTWDex thanks for flagging this. I honestly haven't looked at the twitter API in forever. I'm not sure if this is a permissions issue, or if the Twitter library this script uses is really, really ancient. I'll try to look at it when I can, but I'm hoping another user who is more up to date on this might be able to help.

[2022-08-25 17:18] tommeagher opened #75 "Heroku ending free plans"
Today's [news from Heroku](https://blog.heroku.com/next-chapter) means that it will no longer allow free dynos, the kind that this repo relies on. I'm not sure yet if it's worth the effort to redesign this app for another platform, nor do I really have the time to support such an effort.

What do you all think? Would you be willing to pay for a $7/month Heroku dyno to keep your ebooks account goin

[2022-09-23 19:12] lucymhdavies commented on #75
I'm migrating mine over to my personal Nomad cluster.

But... That's a very niche platform; I do not expect many folks have one of those.

I don't know what a free equivalent to Heroku would even be tbh. AWS Lambda free tier? Google Cloud Functions? Who knows.